/*----------font-family: Abel;------------*/

@font-face
{
	font-family: Abel;
	src: url('../fonts/Abel/Abel-Regular.ttf');
}


/*----------font-family: Anton;------------*/

@font-face
{
	font-family: Anton;
	src: url('../fonts/Anton/Anton-Regular.ttf');
}


/*----------font-family: Josefin_Sans;------------*/

@font-face
{
	font-family: Josefin_Sans;
	src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}


/*----------font-family: Lexend_Deca;------------*/

@font-face
{
	font-family: Lexend_Deca;
	src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}


/*----------font-family: Livvic;------------*/

@font-face
{
	font-family: Livvic;
	src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

/*----------font-family: Acme;------------*/

@font-face
{
	font-family: Acme;
	src: url('../fonts/acme/Acme-Regular.ttf');
}

/*----------font-family: Lobster;------------*/

@font-face
{
	font-family: Lobster;
	src: url('../fonts/lobster/Lobster-Regular.ttf');
}

/*----------font-family: Rubik;------------*/

@font-face
{
	font-family: Rubik;
	src: url('../fonts/rubik/Rubik-Black.ttf');
}

/*----------font-family: Sniglet;------------*/

@font-face
{
	font-family: Sniglet;
	src: url('../fonts/sniglet/Sniglet-Regular.ttf');
}

/*----------font-family: PatuaOne;------------*/

@font-face
{
	font-family: PatuaOne;
	src: url('../fonts/patuaone/PatuaOne-Regular.ttf');
}

/*----------font-family: Raleway;------------*/

@font-face
{
	font-family: Raleway;
	src: url('../fonts/raleway/Raleway-Regular.ttf');
}

/*----------font-family: TitilliumWeb;------------*/

@font-face
{
	font-family: TitilliumWeb;
	src: url('../fonts/titilliumweb/TitilliumWeb-Regular.ttf');
}

/*----------font-family: Quicksand;------------*/

@font-face
{
	font-family: Quicksand;
	src: url('../fonts/quicksand/Quicksand-Regular.ttf');
}

/*----------font-family: McLaren;------------*/

@font-face
{
	font-family: McLaren;
	src: url('../fonts/mclaren/McLaren-Regular.ttf');
}

/*----------font-family: Roboto------------*/

@font-face
{
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/*----------font-family: ZCOOLKuaiLe------------*/

@font-face
{
    font-family: "ZCOOLKuaiLe";
    src: url('../fonts/zcoolkuaile/ZCOOLKuaiLe-Regular.ttf');
}

/*----------font-family: Catamaran------------*/

@font-face
{
    font-family: "Catamaran";
    src: url('fonts/catamaran/Catamaran-Regular.ttf');
}



















